<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Book Lab</title>
  <link rel="icon" href="https://images.unsplash.com/photo-1471970471555-19d4b113e9ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" type="image/x-icon" /> <!-- image from https://unsplash.com/photos/IOzk8YKDhYg -->
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../styles/reset.css">
  <link rel="stylesheet" href="../../styles/base.css">
  <link rel="stylesheet" href="../../styles/icons.css">
  <link rel="stylesheet" href="../../styles/modules.css">
  <link rel="stylesheet" href="../../styles/layout.css">
</head>

  <body>
    <h1>Hello World!!</h1>
    <h2>
      Book List
    </h2>
  
    <ul>
      <% books.forEach( book => { %>
        <li>
          <img src="<%= book.image_url %>" alt="<%= book.title %>" />
        </li>
        <li>
          <%= book.title %>
        </li>
        <li>
          <%= book.author %>
        </li>
        <li>
          <%= book.description %>
        </li>
        <li>
          <%= book.isbn %>
        </li>
        <form action="/show" method="post">
        <input type="hidden" value="<%= book.image_url%>" name="image_url">
        <input type="hidden" value="<%= book.title%>" name="title">
        <input type="hidden" value="<%= book.author%>" name="author">
        <input type="hidden" value="<%= book.description%>" name="description">
        <input type="hidden" value="<%= book.isbn%>" name="isbn">
        <input type="submit" value="saveBook">
      </form>
      <% }) %>
  
    </ul>
  


    
    <script src="../server.js" async defer></script>
  </body>
</html>