<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hello World!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/icons.css">
    <link rel="stylesheet" href="styles/modules.css">
    <link rel="stylesheet" href="styles/layout.css">
  </head>
  <body>
    <h1>Hello World!!</h1>
    <h2>
      Book List
    </h2>
  
    <ul>
      <% books.forEach( book => { %>
      <li>
        <img src="<%= book.image %>" alt="<%= book.image %>" />
      </li>
      <li><%= book.thumbnail %> </li>
      <li>
        <%= book.title %>
      </li>
      <li>
        <% book.author.forEach( author => { %>
          <li>
            <%= author %>
          </li>
        <% }) %>
      </li>
      <li>
        <%= book.description %>
      </li>
      <% }) %>
  
    </ul>
  


    
    <script src="../server.js" async defer></script>
  </body>
</html>