<!DOCTYPE html>

  <%- include('./layout/head.ejs') %>
  <header>

   
  </header>

  <body>



    <h1>Welcome to our Book App</h1>

    <h3>Saved Book List</h3>

    <center>
      <p><%= books.length %> books saved</p>
    </center> 

    
    
    <% books.forEach( book => { %>
      <section class="card">
    
    <img src="<%= book.image_url %>" alt="<%= book.title %>" />
    
    <h3>
      <%= book.title %>
    </h3>
    <h4>
      <%= book.author %>
    </h4>
    <center>

      
      <p>
        ISBN: <%= book.isbn %>
      </p>
    </center>
    <!-- details button -->
    <form method='post' action='/books/<%= book.id %>'>
      <button>Details</button>
    </form>
  </section>
    <% }) %>
    
    
    
    
    

    <script src="js/app.js"></script>
  </body>
</html>