<!DOCTYPE html>

  <%- include('./layout/head.ejs') %>

  <body>
    <%- include('./layout/header.ejs') %>
    <h1>Hello World!!</h1>

    <h2>Saved Book List</h2> 

    <ul>
      <% books.forEach( book => { %>
      <li>
        <img src="<%= book.image_url %>" alt="<%= book.title %>" />
      </li>
      <li>
        <%= book.title %>
      </li>
      <li>
        <%= book.author %>
      </li>

      <li>
        <%= book.isbn %>
      </li>
      <!-- details button -->
      <form  method='post' action='/books/<%= book.id %>'>
        <button>Details</button>
        </form>
      <% }) %>
  
    </ul>


    
    <script src="../server.js" async defer></script>
  </body>
</html>