<!DOCTYPE html>

  <%- include('./layout/head.ejs') %>

  <body>
    <%- include('./layout/header.ejs') %>
    <h1>Hello World!!</h1>

    <h2>Saved Book List</h2> 

    <ul>
      <% books.forEach( book => { %>
      <li>
        <img src="<%= book.image %>" alt="<%= book.image %>" />
      </li>
      <li>
        <%= book.title %>
      </li>
      <li>
        <%= book.author %>
      </li>
      <li>
        <%= book.description %>
      </li>
      <li>
        <%= book.isbn %>
      </li>
      <% }) %>
  
    </ul>


    
    <script src="../server.js" async defer></script>
  </body>
</html>